.card {
    margin: 10px;
    width: 300px;
    height: 410px;
    border: 1px solid #000;
    padding: 25px;
}

.card-wrapp-img {
    width: 250px;
    height: 200px;
    margin-bottom: 15px;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-wrapp-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.card-text {
    color: #000;
    font-size: 30px;
    font-weight: 500;
}

.card-wrapp-price_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;

    background: #000;

    color: #fff;
    font-weight: 500;
    font-size: 24px;

    /* transform-style: preserve-3d;
    animation: main-rotate 6s infinite linear; */
}

/* @keyframes main-rotate {
    100% { 
    transform: rotateY(360deg);
    }
} */

/* .card-price:hover {
    animation: none;
} */

.card-btn {
    border: 1px solid #000;
    background: #fff;
    width: 100px;
    height: 40px;

    color: #000;
    font-weight: 500;
    font-size: 24px;

    cursor: pointer;

    transition: color .35s;
    transition: background .35s;
}

.card-btn:hover {
    color: #fff;
    background: #000;

    transition: color .35s;
    transition: background .35s;
}